<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>管理頁面</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let url;
      $('#download-btn').attr("disabled", true);
      $('#download-btn').on('click', (e) => {
        e.preventDefault();
        document.getElementById('download-link').click();
        $('#download-link').remove();
        $('#download-btn').attr('disabled', true);
      });
      $('#output-ner-data-to-json').on('change', (e) => {
        const mode = e.target.value;
        if (mode === 'null') return;
        $.ajax({
          type: 'get',
          url: `./data/output/${mode}`,
          success: (res) => {
            let json = new Blob(
              [JSON.stringify(res)],
              {type: 'application/json'}
            );
            url = URL.createObjectURL(json);
            let downloadLink = document.createElement('a');
            downloadLink.id = "download-link";
            downloadLink.download = $("#output-ner-data-to-json :selected").text();
            downloadLink.href = url;
            downloadLink.style.display = 'none';
            if ($('#download-link').length > 0) $('#download-link').remove();
            document.body.appendChild(downloadLink);
            $('#download-btn').removeAttr('disabled');
          }
        })
      });
    });
  </script>
</head>

<body>
  <div>
    <label for="output-ner-data-to-json">輸出測資：</label>
    <select name="output-ner-data-to-json" id="output-ner-data-to-json">
      <option value="null" selected>請選擇</option>
      <option value="0">全部測資</option>
      <option value="1">只有輸入測資</option>
      <option value="2">只有語音測資</option>
    </select>
    <div>
      <button type="button" id="download-btn">下載</button>
    </div>
  </div>
</body>

</html>