<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}{% endblock title %} - 語音辨識自動選課系統
        </title>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <style type="text/tailwindcss">
            @layer components {
                button {
                    @apply border bg-black px-4 py-2 text-base text-white;
                }
            }
        </style>
        {% endblock head %}
    </head>
    <body>
        <main class="mx-auto max-w-5xl">
            {% block main %} {% endblock main %}
        </main>
        <footer>
            {% block footer %} Made with ❤️ by kuaz {% endblock footer %}
        </footer>
    </body>
</html>
