{% extends "base.twig" %} {% block title %}首頁{% endblock title %} {% block
head %}
{{ parent() }}
<style type="text/tailwindcss">
  @layer components {
    ul > li {
      @apply my-8 mx-16 font-sans text-slate-500 text-4xl tracking-wider transition-all duration-300;
    }

    ul > li > a {
      @apply decoration-violet-500 hover:text-violet-700 underline-offset-2 decoration-4;
    }
  }
</style>
{% endblock head %} {% block main %}
<div class="grid place-items-center h-screen">
  <div class=" bg-slate-200 p-4 rounded-xl border-slate-700">

  <ul class="w-fit">
    <li><a href="/recognize">語音辨識</a></li>
    <li><a href="/upload">測資上傳</a></li>
    <li><a href="/manualner">標示標籤</a></li>
    <li><a href="/admin">管理頁面</a></li>
  </ul>
  </div>
</div>

{% endblock main %} {% block footer %} {% endblock footer %}
