{% extends "base.twig" %} {% block title %}手動 NER 輸入{% endblock title %} {%
block head %}
{{ parent() }}
<style type="text/tailwindcss">
    @layer components {
        .selected {
            @apply bg-white border-black text-black border;
        }
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let input_text_json = {};
        let input_text;
        let output_json = {};
        let no;
        let category_json = {};
        $.ajax({
            url: "/api/output/l",
        }).then((res) => {
            let options = res.map((no) => {
                return $(`<option value='${no}'>${no}</option>`);
            });
            $("#ner-data-no").append(options).trigger("change");
        });

        $.ajax({
            url: "/api/ner/category",
        }).then((res) => {
            let options = res.reverse().map((option) => {
                return $(
                    `<option value='${option.Tag}'>${option.Name}</option>'`
                );
            });
            $("#category").append(options);
            $("#category")
                .children()
                .map((ind, c) => {
                    $("#category-container").append(
                        `<button class='category-btn' value=${c.value}>${c.text}</button>`
                    );
                });

            $("button.category-btn").on("click", (e) => {
                e.preventDefault();
                $("button.category-btn").removeClass("selected");
                $("#category").val(e.target.value).change();
                $(e.target).addClass("selected");
            });
        });

        $("#category").on("change", (e) => {
            console.log(e.target.value);
        });

        $("#next_btn").on("click", (e) => {
            let selected_option = $("#ner-data-no > option:selected");
            if (selected_option.next().length !== 1) return;
            selected_option
                .attr("selected", false)
                .next("option")
                .attr("selected", true)
                .trigger("change");
        });

        $("#ner-data-no").on("change", function (e) {
            no = e.target.value;

            $.ajax({
                url: `/api/data/${no}`,
                type: "get",
                data: JSON.stringify({ no: no }),
                success: function (res) {
                    input_text = res.測資文字;
                    $("#input-transcript").text(input_text);
                    input_text_json = {};
                    let res_json = JSON.parse(res.測資手動NER);
                    for (let i = 0; i < input_text.length; i++) {
                        input_text_json[i] = "O";
                    }
                    $("#json").html(JSON.stringify(res_json, null, 4));
                },
            });
        });

        $("#random-ner-data").on("", function () {});

        $("#object").on("change", function (e) {
            // console.log(e.target.value);
        });

        $("#input-transcript").on("mouseup", function (e) {
            const category = $("#category").val();
            const range = document.getSelection();
            const sel = range.toString();
            const start = Math.min(range.anchorOffset, range.focusOffset);
            const end = Math.max(range.anchorOffset, range.focusOffset);
            const len = end - start;
            let tags = [];

            if (sel.length == 0) return;
            // console.table({
            //   selection: sel,
            //   selection2: input_text.substring(start, end),
            //   start: start,
            //   end: end,
            //   length: len
            // })
            tags = tag(len, category);
            let j = 0;
            for (let i of r(start, end - 1)) {
                input_text_json[i] = tags[j];
                j++;
            }

            let values = [];
            for (let i in input_text_json) values.push(input_text_json[i]);

            output_json = {
                tokens: input_text.split(""),
                tags: values,
            };

            $("#tokens_json").html(JSON.stringify(output_json.tokens, null, 4));
            $("#tags_json").html(JSON.stringify(output_json.tags, null, 4));
            $("#json").html(JSON.stringify(output_json, null, 4));
        });

        r = (start, stop, step = 1) =>
            Array.from(
                { length: (stop - start) / step + 1 },
                (_, i) => start + i * step
            );

        function tag(len, name) {
            let tags = [];
            const pre = "B" + "-" + name;
            const int = "I" + "-" + name;
            const suf = "E" + "-" + name;
            const single = "S" + "-" + name;
            if (name == "O") {
                for (let i = 0; i < len; i++) tags.push("O");
                return tags;
            }
            if (len == 1) {
                tags.push(single);
            } else {
                tags.push(pre);
                for (let i = 0; i < len - 2; i++) tags.push(int);
                tags.push(suf);
            }

            return tags;
        }

        $("#update").on("click", function (e) {
            e.preventDefault();
            console.log(
                JSON.stringify({
                    no: no,
                    json: output_json,
                })
            );
            $.ajax({
                url: `/api/data`,
                type: "put",
                data: JSON.stringify({
                    no: no,
                    json: output_json,
                }),
                success: function () {
                    $("#tokens_json").text("");
                    $("#tags_json").text("");
                },
                contentType: "application/json; charset=utf-8",
            });
        });
    });
</script>
{% endblock head %} {% block main %}
<header class="min-h-60">
    <!-- <ul>
    {#
    <li>
        目前總共有 <span>{{ allRecords }} 筆測資</span>
    </li>
    #}
</ul> -->
    <label for="ner-data-no">請選擇測資編號： </label>
    <select name="ner-data-no" id="ner-data-no"></select>
    <button id="prev_btn">前一個</button>
    <button id="next_btn">後一個</button>

    <br />

    <label for="category">請選擇類別：</label>
    <select name="category" id="category" style="display: none"></select>
    <div id="category-container" class="flex flex-row flex-wrap gap-2"></div>

    <div class="mb-4">
        <button id="update">更新測資</button>
        <p id="input-transcript" class="text-5xl tracking-widest"></p>
    </div>
</header>
<div>
    <div class="flex flex-row">
        <div style="width: 100%">
            <p>tokens:</p>
            <pre id="tokens_json"></pre>
        </div>
        <div style="width: 100%">
            <p>tags:</p>
            <pre id="tags_json"></pre>
        </div>
    </div>
    <pre id="json"></pre>
</div>

{% endblock main %}
